@model ProjetoFinal.Models.Sala

@{
    ViewData["Title"] = $"Sala {Model.Id}";
}


<div class="alert alert-success" role="alert">
    <h1>@ViewData["Title"] deletado com sucesso!</h1>
</div>

<a class="btn btn-dark" asp-controller="Sala" asp-action="Index">Voltar</a>